.TransactionSection {
	//TODO: MAKE HEIGHT DYNAMIC
	/* Add any section-level styles here */
	overflow-y: scroll;
	height: 100%;

	h1 {
		/* Styles for h1 */
	}
}

.TransactionList {
	/* Add any article-level styles here */
}

.TransactionContainer {
	margin: 10px 0 10px 0;
	overflow-y: scroll;
	height: 100%;
	h1 {
		margin: 20px;
	}
}

.SingleTransaction {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 5vw;

	.TransactionImage {
		background-color: var(--bg-100);
		padding: 0.8rem;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		img {
			object-position: center;
			width: 100%;
			height: 100%;
		}
	}

	.TransactionDetails {
		margin-left: 10px; /* Adjust as needed */

		h4 {
			/* Styles for h4 */
		}

		.DateTime {
			display: flex;

			p {
				margin-right: 10px;
				font-weight: 400;
			}
		}
	}

	.Amount {
		margin-left: auto; /* Adjust as needed */

		&.Red {
			color: red;
		}

		&.Green {
			color: green;
		}
	}
}
