.TransactionContainer {
	// margin: 10px 0 10px 0;
	overflow-y: scroll;
	height: 100%;
	h1 {
		margin: 20px;
	}
}
.FilterContainer {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 5vw;
	gap: 2vw;
	div {
		input {
			padding: 2vw;
			border: 1px solid var(--stroke-100);
			border-radius: 30px;
			font-size: 1rem;
		}
		button {
			background: none;
		}
	}
}

.SingleTransaction {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	align-items: center;
	justify-content: space-around;
  margin-bottom: 5vw;

	.TransactionImage {
		// background-color: var(--bg-100);
		// padding: 0.2rem;
		display: grid;
		place-content: center;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		img {
			object-position: center;
			width: 100%;
			height: 100%;
		}
		h3 {
			font-size: 1.3rem;
			line-height: 1rem;
		}
	}

	.TransactionDetails {
		margin-left: 10px; /* Adjust as needed */


		.DateTime {
			display: flex;

			p {
				margin-right: 10px;
				font-weight: 400;
			}
		}
	}

	.Amount {
		margin-left: auto; /* Adjust as needed */

		&.Red {
			color: red;
		}

		&.Green {
			color: green;
		}
	}
}
