.TransactionForm {
	form {
		display: flex;
		flex-direction: column;
		gap: 1vh;
		overflow: hidden;
		padding-top: 1vh;

		input:not(input[type="search"], input[type="radio"]) {
			border-radius: 30px;
			border: none;
			background-color: var(--bg-100);
			padding: 1.5vh 2rem;
			font-family: Urbanist;
			width: 100%;
		}
		input[name="date"] {
			padding: 2vh 1rem;
			-webkit-appearance: none;
		}
		input[name="time"] {
			min-height: 3vh;
			-webkit-appearance: none;
		}

		input[type="number"] {
			font-size: 1.1rem;
			font-variation-settings: "wght" 500;
			width: 100%;
		}
		label[for="amount"] {
			display: flex;
			align-items: center;
			position: relative;
			p {
				position: absolute;
				left: 0;
				margin: 1.5vh;
				font-size: 1.1rem;
			}
		}
		div:not(.categoryHeader) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1vh 2vw;
		}
		label {
			font-size: 1rem;
			font-variation-settings: "wght" 600;
		}

		button:last-of-type {
			margin-top: 1.5vh;
			justify-content: center;
		}
	}
}
.btn {
	background: var(--bg-100);
	color: var(--font-200);
	justify-content: space-between;
	box-shadow: none;
	font-size: 1rem;
	padding: 1.5vh 4vw;
}

.notFound {
	grid-column: 1/3;
	text-align: center;
}

.Toggle {
	display: flex;
	border-radius: 10px;
	justify-content: space-between;
	background: var(--bg-100);
	padding: 1vh 2vw;
	gap: 0.5rem;

	input {
		all: unset;
		position: absolute;
		&:checked + label[for="expense"] {
			background: var(--secondary-col);
			color: var(--white);
			font-variation-settings: "wght" 600;
		}
	}

	input {
		all: unset;
		position: absolute;
		&:checked + label {
			color: var(--white);
			font-variation-settings: "wght" 600;
			background: var(--primary-col);
		}
	}
	label {
		width: 100%;
		padding: 0.5rem 1rem;
		border-radius: 10px;
		background: var(--bg-100);
		text-align: center;
		color: var(--font-200);
		font-size: 1rem;
	}
}
