.TransactionForm {
	form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		overflow: hidden;

		input:not(input[type="search"], input[type="radio"]) {
			border-radius: 30px;
			border: none;
			background-color: var(--bg-100);
			padding: 1rem 2.5rem;
			font-family: Urbanist;
			width: 100%;
		}
		input[name="date"] {
			padding: 1rem 1rem;
			// min-width: 96%;
			-webkit-appearance: none;
		}
		input[name="time"] {
			// min-width: 96%;
			min-height: 3rem;
			-webkit-appearance: none;
		}

		input[type="number"] {
			font-size: 1.2rem;
			font-variation-settings: "wght" 600;
			width: 100%;
		}
		label[for="amount"] {
			display: flex;
			align-items: center;
			position: relative;
			p {
				position: absolute;
				left: 0;
				margin: 1rem;
				font-size: 1.2rem;
			}
		}
		div:not(.categoryHeader) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;
		}
		label {
			font-size: 1rem;
			font-variation-settings: "wght" 600;
		}

		button:last-of-type {
			justify-content: center;
		}
	}
}
.btn {
	background: var(--bg-100);
	color: var(--font-200);
	justify-content: space-between;
	box-shadow: none;
}

.notFound {
	grid-column: 1/3;
	text-align: center;
}
