.Transactions {
	padding: 7vw 7vw 0 7vw;
	display: grid;

	height: 100%;
	overflow: scroll;
	grid-template-rows: min-content min-content min-content auto;
	h1:nth-of-type(1) {
		margin-bottom: 2rem;
	}
}
