.Report {
	// padding: 7vw 7vw 0 7vw;
	display: grid;
	height: 100%;
	gap: 3vw;
	grid-template-rows: min-content min-content min-content min-content min-content auto;
}

.graph {
	border: 1px solid var(--stroke-100);
	border-radius: 20px;
	display: grid;
	place-content: center;
	padding: 3vw;
}

.Expenses {
	display: grid;
	height: 100%;
	gap: 3vw;
	grid-template-rows: min-content min-content min-content 30vh min-content auto;
	.container {
		overflow-y: scroll;
	}
	article {
		width: 50%;
	}
}
