.pwd {
	position: absolute;
	top: 50%;
	right: 1.5rem;
	transform: translateY(-50%);
	cursor: pointer;
}

input[type="password"],
input[type="text"] {
	width: 100%;
	padding-left: 1.5rem;
}

.pwd-container {
	position: relative;
	width: 100%;
}

.key {
	position: absolute;
	top: 50%;
	left: 4px;
	transform: translateY(-50%);
}
