.TransactionList {
	height: 100%;
	overflow-y: scroll;
}

.TransactionContainer {
	//margin: 10vw 0 10vw 0;
	h3 {
		font-size: 0.8rem;
		font-variation-settings: "wght" 400;
	}

	h2 {
		margin: 2vw 0 4vw;
		font-size: 1.1rem;
	}
}

.SingleTransaction {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 5vw;
	.TransactionImage {
		background-color: var(--bg-100);
		padding: 0.8rem;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		img {
			object-position: center;
			width: 100%;
			height: 100%;
		}
	}

	.TransactionDetails {
		margin-left: 10px;
		.DateTime {
			display: flex;
			p {
				margin-right: 10px;
				font-weight: 400;
			}
		}
	}
}


.FilterContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5vw;
  gap: 2vw;
  div div {
    input {
      padding: 2vw;
      border: 1px solid var(--stroke-100);
      border-radius: 30px;
      font-size: 1rem;
    }
    button {
      background: none;
    }
  }
}