.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	img {
		border-radius: 50%;
		align-self: center;
		justify-self: end;
		background-color: var(--bg-100);
	}
	img:first-of-type {
		background-color: transparent;
		cursor: pointer;
	}

	p {
		font-variation-settings: "wght" 500;
		font-size: 0.9rem;
	}
}
