.Register {
	padding: 7vw;
	height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr 1.5fr 8fr min-content;
	h1,
	p {
		text-align: center;
		margin: 0 auto;
		width: 70vw;
	}
	p,
	a {
		font-size: 0.9rem;
		font-variation-settings: "wght" 500;
		color: var(--font-100);
	}
	a {
		text-align: right;
		background: var(--primary-col);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
